

<div id="image1">
    <div class="jumbotron jumbotron-fluid text-center  ">
        <h1>Tales to laugh about</h1>
    </div>

    <div class="container  ">
        <div class="row">
            <div class="col-12 ">
                <div class="card ">
                    <div class="card-body">
                        <h2 class="card-header">Story 3</h5>

                            <p style="font-size:30px">
                                Count Olaf was a very <strong>{{submissions.w1}} </strong> superhero.
                                He had a <strong>{{submissions.w2}} </strong> that was so strong it could even lift <strong>{{submissions.w3}} </strong>.
                                He was even more powerful if he had on his <strong>{{submissions.w4}} </strong> cape. Which was given to him by
                                the Grand <strong>{{submissions.w5}} </strong> of America. One time he even saved the entire <strong>{{submissions.w6}} </strong>with only his
                                trusty <strong>{{submissions.w7}} </strong>.
                                Not to mention the time he rescued the bus full of <strong>{{submissions.w8}} </strong>  by
                                <strong>{{submissions.w9}} </strong> throwing the bus to safety. For his bravery the mayor of his city gave him the
                                <strong>{{submissions.w10}} </strong> to the city!
                            </p>

                            <button> <a href="/form">← Back To Home</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>