<div id="image1">
    <div class="jumbotron jumbotron-fluid text-center ">
        <h1>Tales to laugh about</h1>
    </div>

    <div class="container  ">
        <div class="row">
            <div class="col-12 ">
                <div class="card ">
                    <div class="card-body">
                        <h2 class="card-header">Story 2</h5>

                            <p style="font-size:30px">
                                Dogs are man’s <strong>{{submissions.w1}} </strong> friend. Every <strong>{{submissions.w2}}
                                </strong> should have one, unless they already
                                have a <strong>{{submissions.w3}} </strong>, then they should have 2. The best dogs to
                                have are really <strong>{{submissions.w4}} </strong>.
                                They are the best <strong>{{submissions.w5}} </strong>. They love to go to the <strong>{{submissions.w6}}
                                </strong> and play at the <strong>{{submissions.w7}} </strong>. And if
                                you give them <strong>{{submissions.w8}} </strong> they <strong>{{submissions.w9}}
                                </strong> love you, the rest of your
                                <strong>{{submissions.w10}} </strong>!


                            </p>

                            <button> <a href="/">← Back To Home</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>