<div id="image1">
<div class="jumbotron jumbotron-fluid text-center ">
  <h1>Tales to laugh about</h1> 
  </div>

<div class="container  ">
  <div class="row">
    <div class="col-12 ">
      <div class="card ">
        <div class="card-body">
          <h2 class="card-header">Story 1</h5>
          
            <p style="font-size:30px">
              Driving a car can be fun if you follow this <strong>{{submissions.w1}} </strong>  advice:
              When approaching a <strong>{{submissions.w2}} </strong>on the right, always blow your <strong>{{submissions.w3}} </strong>
              Before making a <strong>{{submissions.w4}} </strong>turn, always stick your <strong>{{submissions.w5}} </strong>out of the window.
              Every 2000 miles, have your <strong>{{submissions.w6}} </strong>inspected and your <strong>{{submissions.w7}} </strong>checked.
              When approaching a school, watch out for <strong>{{submissions.w8}} </strong> .
              Above all, drive <strong>{{submissions.w9}} </strong> The <strong>{{submissions.w10}} </strong> you save may be your own!

            </p>
            
          <button>  <a href="/">← Back To Home</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>